/*@font-face {
    font-family: 'helveticaneuecyrbold';
    src: url('helveticaneuecyr-bold_1-webfont.eot');
    src: url('helveticaneuecyr-bold_1-webfont.eot?#iefix') format('embedded-opentype'),
         url('helveticaneuecyr-bold_1-webfont.woff2') format('woff2'),
         url('helveticaneuecyr-bold_1-webfont.woff') format('woff'),
         url('helveticaneuecyr-bold_1-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'helveticaneuecyrlight';
    src: url('helveticaneuecyr-light_1-webfont.eot');
    src: url('helveticaneuecyr-light_1-webfont.eot?#iefix') format('embedded-opentype'),
         url('helveticaneuecyr-light_1-webfont.woff2') format('woff2'),
         url('helveticaneuecyr-light_1-webfont.woff') format('woff'),
         url('helveticaneuecyr-light_1-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'helveticaneuecyrroman';
    src: url('helveticaneuecyr-roman_1-webfont.eot');
    src: url('helveticaneuecyr-roman_1-webfont.eot?#iefix') format('embedded-opentype'),
         url('helveticaneuecyr-roman_1-webfont.woff2') format('woff2'),
         url('helveticaneuecyr-roman_1-webfont.woff') format('woff'),
         url('helveticaneuecyr-roman_1-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}*/
@font-face {
	font-family: 'helveticaneuecyrlight';
	src: url('HelveticaNeueCyr-Light_gdi.eot');
	src: url('HelveticaNeueCyr-Light_gdi.eot?#iefix') format('embedded-opentype'),
		url('HelveticaNeueCyr-Light_gdi.woff') format('woff'),
		url('HelveticaNeueCyr-Light_gdi.ttf') format('truetype'),
		url('HelveticaNeueCyr-Light_gdi.otf') format('opentype'),
		url('HelveticaNeueCyr-Light_gdi.svg#HelveticaNeueCyr-Light') format('svg');
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-2265;
}
@font-face {
    font-family: 'helveticaneuecyrroman';
    src: url('HelveticaNeueCyr-Roman_gdi.eot');
    src: url('HelveticaNeueCyr-Roman_gdi.eot?#iefix') format('embedded-opentype'),
		url('HelveticaNeueCyr-Roman_gdi.woff') format('woff'),
		url('HelveticaNeueCyr-Roman_gdi.ttf') format('truetype'),
		url('HelveticaNeueCyr-Roman_gdi.otf') format('opentype'),
		url('HelveticaNeueCyr-Roman_gdi.svg#HelveticaNeueCyr-Medium') format('svg');
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-2265;
}
@font-face {
	font-family: 'helveticaneuecyrbold';
	src: url('HelveticaNeueCyr-Bold_gdi.eot');
	src: url('HelveticaNeueCyr-Bold_gdi.eot?#iefix') format('embedded-opentype'),
		url('HelveticaNeueCyr-Bold_gdi.woff') format('woff'),
		url('HelveticaNeueCyr-Bold_gdi.ttf') format('truetype'),
		url('HelveticaNeueCyr-Bold_gdi.otf') format('opentype'),
		url('HelveticaNeueCyr-Bold_gdi.svg#HelveticaNeueCyr-Bold') format('svg');
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-2265;
}
@font-face {
	font-family:'HelveticaNeueCyr-Medium';
	src: url('HelveticaNeueCyr-Medium_gdi.eot');
	src: url('HelveticaNeueCyr-Medium_gdi.eot?#iefix') format('embedded-opentype'),
		url('HelveticaNeueCyr-Medium_gdi.woff') format('woff'),
		url('HelveticaNeueCyr-Medium_gdi.ttf') format('truetype'),
		url('HelveticaNeueCyr-Medium_gdi.otf') format('opentype'),
		url('HelveticaNeueCyr-Medium_gdi.svg#HelveticaNeueCyr-Medium') format('svg');
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-2265;
}
@font-face {
	font-family:'HelveticaNeueCyr-LightItalic';
	src: url('HelveticaNeueCyr-LightItalic_gdi.eot');
	src: url('HelveticaNeueCyr-LightItalic_gdi.eot?#iefix') format('embedded-opentype'),
		url('HelveticaNeueCyr-LightItalic_gdi.woff') format('woff'),
		url('HelveticaNeueCyr-LightItalic_gdi.ttf') format('truetype'),
		url('HelveticaNeueCyr-LightItalic_gdi.otf') format('opentype'),
		url('HelveticaNeueCyr-LightItalic_gdi.svg#HelveticaNeueCyr-LightItalic') format('svg');
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-2265;
}


