{% extends "layout.html" %}

{% macro renderComment(comment, isLast = False, depth = 0) -%}
    <article class="comment-wrapper {% if isLast and not (depth > 6 and comment.children|length != 0) %}last{% endif %} {% if not comment.children or comment.children|length == 0 or depth > 6 %}is-leaf{% endif %} hide-children depth-{{ depth }}" data-depth="{{ depth }}">
        <div class="comment-content-box">
            <header>
                <a href="#" class="usName">Петя</a>
                <p>комментирует материал сегодня в 18:20</p>
            </header>
            <p>Потребительская культура спонтанно отражает медиамикс, оптимизируя бюджеты</p>
            <footer>
                <div class="plusMinus">
                    <a class="icon-who" title=""></a>
                    <span class="">2200</span>
                    <a class="icon-negative fancy" href="#pop-up" title="поставить минус"></a> 
                    <span class="negative">22</span> 
                    <a class="icon-positive fancy" href="#pop-up" title="поставить плюс"></a>           
                    <span class="positive">150</span>     
                </div>
                <a href="#" class="respond-link">Ответить</a>  |    
                <a href="#" class="complain complain-link">Пожаловаться</a>                       
            </footer>
            <div class="user-l">
                <div class="userAva">
                    <img src="images/u10.jpg" alt="">
                </div>
            </div>
            <div class="connectionComments"></div>
            <div class="connectionCommentsLast"></div>
        </div>
        <div class="wrapInsertedComment">
            {% if depth <= 6 %}
                {% for subComment in comment.children %}
                    {{ renderComment(comment=subComment, isLast=loop.last, depth=depth+1) }}
                {% endfor %}
            {% endif %}
        </div>
    </article>
    {% if depth > 6 %}
        {% for subComment in comment.children %}
            {{ renderComment(comment=subComment, isLast=loop.last, depth=depth+1) }}
        {% endfor %}
    {% endif %}
{%- endmacro %}

{% block comments %}
    <article class="comm-in-form last complain" style="display: none;"><form>
        <header>
            <a href="#" class="usName">Причина жалобы:</a>
            <div class="radios">
                <div class="check"><div class="jq-radio checked" unselectable="on" style="-webkit-user-select: none; display: inline-block; position: relative;"><input type="radio" name="rad" checked="" style="position: absolute; z-index: -1; opacity: 0; margin: 0px; padding: 0px;"><div class="jq-radio__div"></div></div><label>Cпам</label></div>
                <div class="check"><div class="jq-radio" unselectable="on" style="-webkit-user-select: none; display: inline-block; position: relative;"><input type="radio" name="rad" style="position: absolute; z-index: -1; opacity: 0; margin: 0px; padding: 0px;"><div class="jq-radio__div"></div></div><label>Неэтичное поведение</label></div>
                <div class="check"><div class="jq-radio" unselectable="on" style="-webkit-user-select: none; display: inline-block; position: relative;"><input type="radio" name="rad" style="position: absolute; z-index: -1; opacity: 0; margin: 0px; padding: 0px;"><div class="jq-radio__div"></div></div><label>Нарушение закона</label></div>
            </div>
        </header>
        <textarea class="comm-area"></textarea>
        <footer>
            <a href="#" class="cancel-link">Отмена</a>
            <button class="btn btn-red">Пожаловаться</button>
            <div class="comm-sumb">Осталось 1000 символов</div>
        </footer>
        <div class="user-l">
            <div class="userAva">
                <img src="images/u4.jpg" alt=""></div>
        </div>
        <div class="connectionComments"></div>
        <div class="connectionCommentsLast"></div>
    </form>
    </article>
    <article class="comm-in-form last respond" style="display: none;">
        <form>
            <header>
                <a href="#" class="usName">Ваш ответ:</a>
            </header>
            <textarea class="comm-area"></textarea>
            <footer>
                <a href="#" class="cancel-link">Отмена</a>
                <button class="btn btn-blue">Ответить</button>
                <div class="comm-sumb">Осталось 1000 символов</div>
            </footer>
            <div class="user-l">
                <div class="userAva">
                    <img src="images/u4.jpg" alt=""></div>
            </div>
            <div class="connectionComments"></div>
            <div class="connectionCommentsLast"></div>
        </form>
    </article>
    {% for comment in comments %}
        {{ renderComment(comment=comment, isLast=loop.last) }}
    {% endfor %}
{% endblock %}
